@{
    ViewBag.Title = "Booking";
}
<style>
    .room {
        min-width: 400px;
        max-width: 400px;
        width: 40%;
    }

    .cover {
        background-size: cover;

    }
</style>
<div ng-controller="BookingCtrl" layout="column">
    <div layout="row">
        <md-datepicker ng-model="Booking.FromDate" md-placeholder="Check in" ng-change="fromDateChange()" md-min-date="toDay">
        </md-datepicker>
        <md-datepicker ng-model="Booking.ToDate" md-placeholder="Check out" md-min-date="toDateMin">
        </md-datepicker>
        <md-button class="md-primary" ng-click="Search()" ng-disabled="!Booking.FromDate || !Booking.ToDate || Booking.FromDate>=Booking.ToDate">🔎 Search</md-button>
    </div>
    <md-autocomplete md-selected-item="Booking.Email" md-search-text="searchText"
                     md-floating-label="Customer email"
                     md-items="item in searchAccount(searchText)" md-item-text="item"
                     ng-show="permission>0"
                     style="max-width:350px;margin-left:20px;margin-top:-15px;margin-bottom:-60px">
        <md-item-template>
            <span md-highlight-text="searchText">{{item}}</span>
        </md-item-template>
        <md-not-found>
            No matches found.
        </md-not-found>
    </md-autocomplete>
    <md-content ng-view md-scroll-y flex layout-padding>
        <div layout="row" layout-wrap>
            <md-card flex ng-repeat="RoomType in RoomTypes" class="room">
                <md-card-title ng-init="RoomType.Quantity=1">
                    <md-card-title-text>
                        <span class="md-headline">{{RoomType.RoomTypeName}}</span>
                        <span class="md-subhead">{{"Max people: "+RoomType.NoPeople}}</span>
                        <span class="md-subhead">Room feature:</span>
                        <span style="margin-left:10px" ng-repeat="Feature in RoomType.Features" class="md-subhead">{{"- " + Feature}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media cover" style="background:url('{{RoomType.Picture}}') no-repeat center center">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <span style="margin-right:5px" class="md-subhead">${{RoomType.Price}} x </span>
                    <md-select ng-model="RoomType.Quantity" placeholder="Quanltity" class="width-100">
                        <md-option ng-repeat="n in [] | range:RoomType.NoRoom" value="{{n}}">
                            {{n}}
                        </md-option>
                    </md-select>
                    <span style="margin-right:5px" class="md-subhead"> = </span>
                    <span style="margin-right:5px;font-weight:bold" class="md-subhead">${{RoomType.Price * RoomType.Quantity}}</span>
                    <md-button style="font-weight:bolder" class="md-primary" ng-click="Book(RoomType)">Book</md-button>
                </md-card-actions>
            </md-card>

        </div>
    </md-content>
</div>
@section Script
{
    <script src="~/Script/BookingCtrl.js"></script>
}