@{
    ViewBag.Title = "Booking Management";
}
<style>
   .table {
        border-collapse: collapse;
        width: 100%;
    }

    .table  th, .table td {
        text-align: left;
        padding: 15px;
    }

    .table  tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table th {
        font-weight: bold;
    }
    .xbutton{
        padding:5px;
        cursor:pointer;
        color:rgb(63,81,181);
    }
    .xbutton:hover{
        background-color:rgba(1,1,1,0.1)
    }
</style>
<div ng-controller="BookManCtrl" layout="column">
    <div layout="row" ng-show="permission>0">
        <md-autocomplete md-selected-item="History.Email" md-search-text="searchText"
                         md-floating-label="Customer email"
                         md-items="item in searchAccount(searchText)" md-item-text="item"
                         style="max-width:400px;margin-left:20px;margin-top:-15px;margin-bottom:-60px">
            <md-item-template>
                <span md-highlight-text="searchText">{{item}}</span>
            </md-item-template>
            <md-not-found>
                No matches found.
            </md-not-found>
        </md-autocomplete>
        <md-datepicker ng-model="History.FromDate" md-placeholder="From Date">
        </md-datepicker>
        <md-button class="md-primary" ng-click="Search()">🔎 Search</md-button>
    </div>
    <table class="table" ng-show="ListBooking.length>0">
        <tr>
            <th>
                No.
            </th>
            <th>
                Check in
            </th>
            <th>
                Check out
            </th>
            <th>
                Room type
            </th>
            <th>
                Rooms
            </th>
            <th>
                Status
            </th>
        </tr>
        <tr ng-repeat="Booking in ListBooking">
            <td>
                {{$index+1}}
            </td>
            <td>
                {{Booking.DateStart | date:'dd/MM/yyyy'}}
            </td>
            <td>
                {{Booking.DateEnd | date:'dd/MM/yyyy'}}
            </td>
            <td>
                {{Booking.RoomType}}
            </td>
            <td>
                {{Booking.ListRoom.toString()}}
            </td>
            <td>
                {{Booking.BookingStatus?'Paid':'Not yet paid'}}
            </td>
            <td >
                <div ng-show="permission>0 && !Booking.BookingStatus" layout="row">
                    <div class="xbutton" ng-click="Pay(Booking.BookingID)">
                        Pay
                    </div>
                    <div class="xbutton" ng-click="Del($event,Booking.BookingID)">
                        Delete
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
@section Script
{
    <script src="~/Script/BookManCtrl.js"></script>
}